In [ ]:
import tensorflow as tf
import cv2
import numpy as np


genderRecModelPath = '/content/drive/MyDrive/Modele/GenderRec'
ageRecModelPath = '/content/drive/MyDrive/Modele/AgeRec1'
ageRecModelPath2 = '/content/drive/MyDrive/Modele/AgeRec2'

model_gender_rec = tf.keras.models.load_model(genderRecModelPath)
model_age_rec = tf.keras.models.load_model(ageRecModelPath)
model_age_rec2 = tf.keras.models.load_model(ageRecModelPath2)

In [ ]:
def answers(path):
  image = cv2.imread(path) / 255.0
  image_resized = tf.image.resize(image, [224, 224])
  expanded_tensor = tf.expand_dims(image_resized, axis=0)

  gender_pred = model_gender_rec.predict(expanded_tensor)
  age_pred = model_age_rec2.predict(expanded_tensor)

  gender_ans = gender_map[round(float(gender_pred[0]) , 0)]
  age_ans = age_map[np.argmax(age_pred)]


  return gender_ans , age_ans

In [ ]:
gender_map = {
    0 : 'female',
    1 : 'male'
}

age_map = {
    0 : '0-9',
    1: '10-19',
    2: '20-29',
    3 : '30-39',
    4: '40-49',
    5: '50-59',
    6 : '60-69',
    7: '70-79',
    8: '80-89',
    9 : '90-99',
    10: '100+',
}

In [ ]:
path1 = '/content/421895343_1150870712952645_786432858060179355_n.jpg'
path2 = '/content/422337366_756089236406235_8453814932929867963_n.jpg'
#path3 = '/content/Zrzut ekranu 2024-01-05 125456.png'

In [ ]:
ans1 = answers(path1)
ans2 = answers(path2)
#ans3 = answers(path3)

1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 1s 777ms/step
1/1 [==============================] - 0s 135ms/step
1/1 [==============================] - 0s 311ms/step

In [ ]:
print(f'1. {ans1[0]} on the photo is {ans1[1]} years old') #all this is
print(f'2. {ans2[0]} on the photo is {ans2[1]} years old')
#print(f'3. {ans3[0]} on the photo is {ans3[1]} years old')

1. male on the photo is 10-19 years old
2. female on the photo is 0-9 years old

In [ ]:
path4 = '/content/419261807_399327125828106_4654042307996058691_n.jpg'
ans4 = answers(path4)

1/1 [==============================] - 0s 129ms/step
1/1 [==============================] - 0s 256ms/step

In [ ]:
print(f'4. {ans4[0]} on the photo is {ans4[1]} years old') #photo of 6 yo female

4. female on the photo is 0-9 years old

In [ ]:
path5 = '/content/413380944_387610466963909_8864524168332808267_n.jpg'
ans5 = answers(path5)

1/1 [==============================] - 0s 76ms/step
1/1 [==============================] - 0s 160ms/step

In [ ]:
print(f'5. {ans5[0]} on the photo is {ans5[1]} years old') #photo of 19 yo boy

4. female on the photo is 10-19 years old

In [ ]:
path6 = '/content/419166441_1051801475872262_622687592594469640_n.jpg'
ans6 = answers(path6)

1/1 [==============================] - 0s 127ms/step
1/1 [==============================] - 0s 206ms/step

In [ ]:
print(f'6. {ans6[0]} on the photo is {ans6[1]} years old')  #photo of 19 you female
ans6[1]

6. female on the photo is 80-89 years old

'80-89'